<!--This page allows for 'About' section to link to individual web sites-->

<li class="dropdown">
    <a href="#!" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
            <li><a href="https://vamseea03.herokuapp.com/">Vamsee Krishna Gangapatnam</a></li>
            <li><a href="https://rocky-escarpment-96604.herokuapp.com/">Hari Priya Jupally</a></li>
            <li><a href="https://haydenrainey.herokuapp.com/">Hayden Rainey</a></li>
            <li><a href="https://sheltered-meadow-83505.herokuapp.com/">Amy White</a></li>
          </ul>
        </li>
    </ul>
  </li>