</br>
</br>
<hr>
</br>
<footer class="footer">
  <div class="container">
    <p>&copy; Fall 2018</p>
    <p class="text-muted"><a href="https://bitbucket.org/HaydenRain/ecommerce-a04/src/master/">Repository</a></p>
  </div>
</footer>