<div class="container-fluid">
    <div class=row>
      <div class="col col-md-12">
        <h1>Group 6-09 E-commerce Web-site</h1>
        <br/>
        <h2>Use this area to display information</h2>
        <br/>
        <hr>
        <h3>During development, test your api here.</h3>
        <br/>
        <br/>
        <h4>GET a view</h4>
        <ol>
          <!--Hari Priya Jupally-->
          <li>
            <a href="http://localhost:8089/Customer">http://localhost:8089/Customer</a>
          </li>
          <li>
            <a href="http://localhost:8089/Customer/create">http://localhost:8089/Customer/create</a>
          </li>

          <li>
            <a href="http://localhost:8089/Customer/edit/1">http://localhost:8089/Customer/edit/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/Customer/edit/2">http://localhost:8089/Customer/edit/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/Customer/edit/3">http://localhost:8089/Customer/edit/3</a>
          </li>
  
          <li>
            <a href="http://localhost:8089/Customer/delete/1">http://localhost:8089/Customer/delete/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/Customer/delete/2">http://localhost:8089/Customer/delete/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/Customer/delete/3">http://localhost:8089/Customer/delete/3</a>
          </li>
  
          <li>
            <a href="http://localhost:8089/Customer/details/1">http://localhost:8089/Customer/details/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/Customer/details/2">http://localhost:8089/Customer/details/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/Customer/details/3">http://localhost:8089/Customer/details/3</a>
          </li>


          <br />
          <!--Vamsee Krishna Gangapatnam-->
          <li>
              <a href="http://localhost:8089/products">http://localhost:8089/products</a>
            </li>
            <li>
              <a href="http://localhost:8089/products/create">http://localhost:8089/products/create</a>
            </li>
  
            <li>
              <a href="http://localhost:8089/products/edit/1">http://localhost:8089/products/edit/1</a>
            </li>
            <li>
              <a href="http://localhost:8089/products/edit/2">http://localhost:8089/products/edit/2</a>
            </li>
            <li>
              <a href="http://localhost:8089/products/edit/3">http://localhost:8089/products/edit/3</a>
            </li>
    
            <li>
              <a href="http://localhost:8089/products/delete/1">http://localhost:8089/products/delete/1</a>
            </li>
            <li>
              <a href="http://localhost:8089/products/delete/2">http://localhost:8089/products/delete/2</a>
            </li>
            <li>
              <a href="http://localhost:8089/products/delete/3">http://localhost:8089/products/delete/3</a>
            </li>
    
            <li>
              <a href="http://localhost:8089/products/details/1">http://localhost:8089/products/details/1</a>
            </li>
            <li>
              <a href="http://localhost:8089/products/details/2">http://localhost:8089/products/details/2</a>
            </li>
            <li>
              <a href="http://localhost:8089/products/details/3">http://localhost:8089/products/details/3</a>
            </li>

            <br />
                  <!--Hayden Rainey-->
          <li>
              <a href="http://localhost:8089/orderLine">http://localhost:8089/orderLine</a>
            </li>
            <li>
              <a href="http://localhost:8089/orderLine/create">http://localhost:8089/orderLine/create</a>
            </li>
  
            <li>
              <a href="http://localhost:8089/orderLine/edit/1">http://localhost:8089/orderLine/edit/1</a>
            </li>
            <li>
              <a href="http://localhost:8089/orderLine/edit/2">http://localhost:8089/orderLine/edit/2</a>
            </li>
            <li>
              <a href="http://localhost:8089/orderLine/edit/3">http://localhost:8089/orderLine/edit/3</a>
            </li>
    
            <li>
              <a href="http://localhost:8089/orderLine/delete/1">http://localhost:8089/orderLine/delete/1</a>
            </li>
            <li>
              <a href="http://localhost:8089/orderLine/delete/2">http://localhost:8089/orderLine/delete/2</a>
            </li>
            <li>
              <a href="http://localhost:8089/orderLine/delete/3">http://localhost:8089/orderLine/delete/3</a>
            </li>
    
            <li>
              <a href="http://localhost:8089/orderLine/details/1">http://localhost:8089/orderLine/details/1</a>
            </li>
            <li>
              <a href="http://localhost:8089/orderLine/details/2">http://localhost:8089/orderLine/details/2</a>
            </li>
            <li>
              <a href="http://localhost:8089/orderLine/details/3">http://localhost:8089/orderLine/details/3</a>
            </li>

            <br />
                  <!--Amy White-->
          <li>
              <a href="http://localhost:8089/orders">http://localhost:8089/order</a>
            </li>
            <li>
              <a href="http://localhost:8089/order/create">http://localhost:8089/order/create</a>
            </li>
  
            <li>
              <a href="http://localhost:8089/order/edit/1">http://localhost:8089/order/edit/1</a>
            </li>
            <li>
              <a href="http://localhost:8089/order/edit/2">http://localhost:8089/order/edit/2</a>
            </li>
            <li>
              <a href="http://localhost:8089/order/edit/3">http://localhost:8089/order/edit/3</a>
            </li>
    
            <li>
              <a href="http://localhost:8089/order/delete/1">http://localhost:8089/order/delete/1</a>
            </li>
            <li>
              <a href="http://localhost:8089/order/delete/2">http://localhost:8089/order/delete/2</a>
            </li>
            <li>
              <a href="http://localhost:8089/order/delete/3">http://localhost:8089/order/delete/3</a>
            </li>
    
            <li>
              <a href="http://localhost:8089/order/details/1">http://localhost:8089/order/details/1</a>
            </li>
            <li>
              <a href="http://localhost:8089/order/details/2">http://localhost:8089/order/details/2</a>
            </li>
            <li>
              <a href="http://localhost:8089/order/details/3">http://localhost:8089/order/details/3</a>
            </li>
  
        </ol>
        <br/>
        <h4>GET JSON</h4>
        <ol>
  
          <!--Hari Priya Jupally-->

          <li>
            <a href="http://localhost:8089/Customer/findall">http://localhost:8089/Customer/findall</a>
          </li>
          <li>
            <a href="http://localhost:8089/Customer/findone/1">http://localhost:8089/Customer/findone/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/Customer/findone/2">http://localhost:8089/Customer/findone/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/Customer/findone/3">http://localhost:8089/Customer/findone/3</a>
          </li>

          <br />
          <!--Vamsee Krishna Gangapatnam-->

           <li>
              <a href="http://localhost:8089/products/findall">http://localhost:8089/products/findall</a>
            </li>
            <li>
              <a href="http://localhost:8089/products/findone/1">http://localhost:8089/products/findone/1</a>
            </li>
            <li>
              <a href="http://localhost:8089/products/findone/2">http://localhost:8089/products/findone/2</a>
            </li>
            <li>
              <a href="http://localhost:8089/products/findone/3">http://localhost:8089/products/findone/3</a>
            </li>

          <br />
          <!--Hayden Rainey-->

          <li>
              <a href="http://localhost:8089/orderLine/findall">http://localhost:8089/orderLine/findall</a>
            </li>
            <li>
              <a href="http://localhost:8089/orderLine/findone/1">http://localhost:8089/orderLine/findone/1</a>
            </li>
            <li>
              <a href="http://localhost:8089/orderLine/findone/2">http://localhost:8089/orderLine/findone/2</a>
            </li>
            <li>
              <a href="http://localhost:8089/orderLine/findone/3">http://localhost:8089/orderLine/findone/3</a>
            </li>

            <br />
          <!--Amy White-->

          <li>
              <a href="http://localhost:8089/order/findall">http://localhost:8089/order/findall</a>
            </li>
            <li>
              <a href="http://localhost:8089/order/findone/1">http://localhost:8089/order/findone/1</a>
            </li>
            <li>
              <a href="http://localhost:8089/order/findone/2">http://localhost:8089/order/findone/2</a>
            </li>
            <li>
              <a href="http://localhost:8089/order/findone/3">http://localhost:8089/order/findone/3</a>
            </li>
  
        </ol>
  
  
      </div>
    </div>
  </div>