<!--Author: Amy White-->

<h1>Order Line Page</h1>

<ul>
    <li><a href="order/findall">Find All</a></li>
    <li><a href="order/findone/0">Find One</a></li>
    <li><a href="order/create">Create</a></li>
    <li><a href="order/delete/0">Delete</a></li>
    <li><a href="order/details/0">Details</a></li>
    <li><a href="order/edit/0">Edit</a></li>
</ul>