

<h1>Customer Page</h1>

<ul>
    <li><a href="Customer/findall">Find All</a></li>
    <li><a href="Customer/findone/0">Find One</a></li>
    <li><a href="Customer/create">Create</a></li>
    <li><a href="Customer/delete/0">Delete</a></li>
    <li><a href="Customer/details/0">Details</a></li>
    <li><a href="Customer/edit/0">Edit</a></li>
</ul>