<br/>
<br/>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="product/create" class="btn btn-primary new">
        Create a new product
      </a>
      <h2>Recent product entries</h2>
      <p>There are
        <%= products.query.length %> products.
          <br/>
      </p>
    </div>
  </div>
</div>